.red{
    color:red
}
.green{
    color: green
}
.backgroundWhite{
    background-color: white
}
div{
    border-radius:4px
}
.centerAlign{
    text-align:center
}
.btn-secondary{
    background-color:#e6e6e6
}
    

.textBold { 
    font-weight: bold 
}
.backgroundGrey{
    background-color:#f3f3f3;
}
.verticalPadding{
    padding-top: 2%;
    padding-bottom: 2%;
}
.paddingLeft{
    padding-left: 2%
}
.paddingBottom{
    padding-bottom: 2%
}
.paddingTop{
    padding-top: 2%
}
.paddingTopBottom{
    padding-top: 2%;
    padding-bottom: 2%;
}
.IndicatorTag:hover{
    cursor:pointer;
    text-decoration: underline;

}
.IndicatorTag{
    color:#3f5ef7;
}
.glyphicon-star{
    color:rgb(226, 226, 7);
}


.panelAniR{
position: relative;
right:0%;

}

.panelAniR.ng-hide {
right: -80%;
}
.panelAniR.ng-hide-add{
display: none;
}


.panelAniR.ng-hide-remove{
transition: 0.6s ease-in-out all;
}
.panelAniR.ng-show-add-active {
display: block;
}


.panelAniL{
position: relative;
left:0%;

}

.panelAniL.ng-hide {
left: -80%;
}
.panelAniL.ng-hide-add{
display: none;
}


.panelAniL.ng-hide-remove{
transition: 0.6s ease-in-out all;
}
.panelAniL.ng-show-add-active {
display: block;
}

.has-error {
    border: 1px solid red !important;
    border-radius: 5px !important;
}
.has-noError {
    border: 1px solid rgb(18, 163, 207) !important;
    border-radius: 5px !important;
}
md-autocomplete{
    border: 1px solid lightgray !important;
    border-radius: 5px !important;
}
.tableResp {
    overflow: hidden;
    overflow-x: auto;
    clear: both;
}
#tabCS{
    font-size: 110%
}
#tabHist{
    font-size: 110%
}
#tabNews{
    font-size: 110%
}